@import "../../styles/vars.css";
@import "../../styles/globals.css";
@import "../Hero/Hero.module.css";

.experienceImage {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.title{
    color: var(--color-text-dark);
    letter-spacing: 1px;
}

.filtersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 30px;
}

.search {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search input {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.filters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap; 
}
.filterItem {
  position: relative;
  min-width: 160px;
}

.filterItem select {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}

.clearBtn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text-dark);
}

.clearBtn:hover {
  color: var(--color-card-bg);
}

.details{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviewSection{
    display: flex;
    gap: 15px;
}
.reviewCard{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);  padding: 15px;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    gap: 10px;

}
.reviewCardTop{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-weight: bold;
}
.reviewComment{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.picturesList{
    display: flex;
    gap: 15px;
}
.pictures{
    object-fit: cover;
    height: 200px;
    width: 200px;
}



