@import "../../styles/vars.css";
@import "../../styles/globals.css";

.experiencesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-primary);
    gap: 15px;
    padding: 20px 0px;
}
.experienceCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

.experienceImage{
    height: 140px;
    width: calc(100% + 30px);
    object-fit: cover;
    display: block;
    margin: -15px -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}
.experienceCategorie {
    width: fit-content;
    font-size: var(--font-size-small-text);
    background-color: var(--color-secondary);
    padding: 6px;
    border-radius: 4px;
    color: var(--color-text-light);
}
.experienceDuration{
    font-size: var(--font-size-small-text);
}
.experienceDetailsBottom{
    display: flex;
    justify-content: space-between;
}
.experiencePrice{
    margin: 0;
    background-color: var(--color-dark);
    padding: 6px;
    border-radius: 4px;
    color: var(--color-text-light);
}
.experienceRating{
    margin: 0;
}
