body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 40px 0 40px 0;
}

.title {
  font-size: var(--font-size-title);
  color: var(--color-text-dark);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.subtitle {
  font-size: var(--font-size-title);
  color: var(--color-text-dark);
  font-weight: bold;
}

.component {
  margin: 5% 10%;
  color: var(--color-text-dark);
}

/* HERO */

.hero {
  block-size: 250px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.heroimg {
  position: absolute;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.heroText {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  text-transform: uppercase;
}

.heroTitle {
  font-size: calc(var(--font-size-title)*1.2);
  font-weight: bold;
  color: #fff;
  letter-spacing: 10px;
  margin: 0px 10%;
  text-align: center;
  text-transform: uppercase;
}

.heroSubtitle {
  display: inline-block;
  font-size: var(--font-size-title);
  font-weight: bold;
  color: #fff;
  background-color: var(--color-dark);
  padding: 8px 16px;
  border-radius: 12px;
}
.pageText{
  margin: 5%;
  display: flex;
  text-align: center;
  color: var(--color-text-dark);
  font-weight: 100;
  font-size: var(--font-size-text);
}



@media (max-width: 830px) {
  .heroTitle {
    font-size: calc(var(--font-size-small-title)*1.2);
    letter-spacing: 4px;
  }

  .heroSubtitle {
    font-size: calc(var(--font-size-small-title)*0.8);
  }
}

@media (max-width: 700px) {
  .hero * {
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }

  .heroText {
    gap: 20px;
    padding: 0 10px;
  }

  .heroTitle {
    letter-spacing: 1 !important;
  }

  .heroSubtitle {
    font-size: calc(var(--font-size-small-title)*0.8);
  }
}

/* CARDS */

.scroll {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  gap: 15px;
  padding: 10px 10px 10px 10px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 50px;
  scrollbar-width: none;
}

.cardLink {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card {
  background-color: var(--color-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 5px;
  width: 200px;
  height: 320px;
}

.card:hover {
  transform: scale(1.06);
}

.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardDetailsTop {
  display: flex;
  flex-direction: column;
}

.cardImage {
  height: 140px;
  width: calc(100% + 30px);
  object-fit: cover;
  display: block;
  margin: -15px -15px 0px -15px;
  border-radius: 5px 5px 0 0;
}

.cardCategorieSection {
  display: flex;
  flex-wrap: wrap;
}

.cardCategorie {
  width: fit-content;
  font-size: var(--font-size-small-text);
  background-color: var(--color-secondary);
  padding: 6px;
  margin: 5px;
  border-radius: 4px;
  color: var(--color-text-light);
}

.cardTitle {
  margin: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cardDuration {
  font-size: var(--font-size-small-text);
  margin: 5px;
}

.cardDetailsBottom {
  display: flex;
  justify-content: space-between;
}

.cardPrice {
  margin: 0;
  background-color: var(--color-dark);
  padding: 6px;
  border-radius: 4px;
  color: var(--color-text-light);
}

.cardRating {
  margin: 0;
}

@media (max-width: 830px) {
.card {
  width: 150px;
  height: 280px;
}
  .cardImage {
  height: 100px;
  width: calc(100% + 30px);
  object-fit: cover;
  display: block;
  margin: -15px -15px 0px -15px;
  border-radius: 5px 5px 0 0;
}
.cardCategorie{
  font-size: 12px;
}
}
@media (max-width: 600px) {
.cardList{
  padding: 10% 1%;
}
.card {
  height: 200px;
  width: 130px;
}
  .cardCategorieSection{
        display: none;
  }
}

/* BUTTONS */
.btn {
  width: fit-content;
  padding: 14px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background:
    linear-gradient(rgb(77, 127, 84),
      rgb(255, 255, 255));
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-dark);
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.smallBtn {
  width: fit-content;
  padding: 8px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background: var(--color-dark);
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-dark);
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}


.btn:hover,
.smallBtn:hover,
.btnCard:hover,
.bookingBtn:hover {
  background: var(--color-dark);
  transform: scale(1.1)
}

.btnLink {
  text-decoration: none;
  color: var(--color-btn-text);
}


@media screen and (max-width: 830px) {
  .title {
    font-size: var(--font-size-small-title);
    letter-spacing: 1px;
  }

  .text {
    font-size: var(--font-size-small-text);
  }

  .smallBtn {
    font-size: var(--font-size-small-text);
  }

}