body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 40px 0 40px 0;
}
/* .component {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
} */



.title {
  font-size: var(--font-size-title);
  color: var(--color-text-dark);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/*

.successMessage{
  font-size: var(--font-size-text);
  color: var(--color-text-light);
  font-weight: bold;
}
 */


 /* CARDS */

.experiencesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-primary);
    gap: 15px;
    padding: 50px;
}
.cardLink{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.experienceCard{
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}
.experienceCard:hover {
  transform: scale(1.06);
}
.experienceDetailsTop{
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.experienceImage{
    height: 140px;
    width: calc(100% + 30px);
    object-fit: cover;
    display: block;
    margin: -15px -15px 10px -15px;
    border-radius: 5px 5px 0 0;
}
.experienceCategorie{
    width: fit-content;
    font-size: var(--font-size-small-text);
    background-color: var(--color-secondary);
    padding: 6px;
    border-radius: 4px;
    color: var(--color-text-light);
}
.experienceDuration{
    font-size: var(--font-size-small-text);
}
.experienceDetailsBottom{
    display: flex;
    justify-content: space-between;
}
.experiencePrice{
    margin: 0;
    background-color: var(--color-dark);
    padding: 6px;
    border-radius: 4px;
    color: var(--color-text-light);
}
.experienceRating{
    margin: 0;
}

/* BUTTONS */
.btn {
  width: fit-content;
  padding: 14px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background: 
  linear-gradient(rgb(77, 127, 84), 
      rgb(255, 255, 255));
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-dark);
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}
.smallBtn {
  width: fit-content;
  padding: 8px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background: var(--color-primary);
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-dark);
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}
.btn:hover, .smallBtn:hover, .btnCard:hover {
  background: var(--color-dark);
  transform: scale(1.1)
}

.btnLink {
  text-decoration: none;
  color: var(--color-btn-text);
}

@media screen and (max-width: 830px) {
  .title {
    font-size: var(--font-size-small-title);
    letter-spacing: 1px;
  }
  .text {
    font-size: var(--font-size-small-text);
  }
  /* .successMessage {
    font-size: var(--font-size-small-text);
  } */
  .smallBtn {
    font-size: var(--font-size-small-text);
  }

}
