body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 40px 0 40px 0;
}

.title {
  font-size: var(--font-size-title);
  color: var(--color-text-dark);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.component {
  margin: 10%;
}

/* CARDS */

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-primary);
  gap: 15px;
  padding: 50px;
}

.cardLink {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card {
  background-color: var(--color-bg);
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  height: 280px;
}

.card:hover {
  transform: scale(1.06);
}

.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardDetailsTop {
  display: flex;
  flex-direction: column;
}

.cardImage {
  height: 140px;
  width: calc(100% + 30px);
  object-fit: cover;
  display: block;
  margin: -15px -15px 5px -15px;
  border-radius: 5px 5px 0 0;
}

.cardCategorie {
  width: fit-content;
  font-size: var(--font-size-small-text);
  background-color: var(--color-secondary);
  padding: 6px;
  margin: 5px;
  border-radius: 4px;
  color: var(--color-text-light);
}

.cardTitle {
  margin: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.cardDuration {
  font-size: var(--font-size-small-text);
  margin: 5px;
}

.cardDetailsBottom {
  display: flex;
  justify-content: space-between;
}

.cardPrice {
  margin: 0;
  background-color: var(--color-dark);
  padding: 6px;
  border-radius: 4px;
  color: var(--color-text-light);
}

.cardRating {
  margin: 0;
}

/* BUTTONS */
.btn {
  width: fit-content;
  padding: 14px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background:
    linear-gradient(rgb(77, 127, 84),
      rgb(255, 255, 255));
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-dark);
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.smallBtn {
  width: fit-content;
  padding: 8px;
  font-size: var(--font-size-text);
  font-weight: bold;
  background: var(--color-primary);
  color: var(--color-btn-text);
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--color-dark);
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.btn:hover,
.smallBtn:hover,
.btnCard:hover {
  background: var(--color-dark);
  transform: scale(1.1)
}

.btnLink {
  text-decoration: none;
  color: var(--color-btn-text);
}


@media screen and (max-width: 830px) {
  .title {
    font-size: var(--font-size-small-title);
    letter-spacing: 1px;
  }

  .text {
    font-size: var(--font-size-small-text);
  }

  .smallBtn {
    font-size: var(--font-size-small-text);
  }

}