@import "../../styles/vars.css";
@import "../../styles/globals.css";
@import "../Experiences/Experiences.module.css";

.title {
  padding: 30px;
  margin-bottom: -20px;
  display: flex;
  justify-content: center;

}

.btnSection {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.smallBtn {
  background-color: var(--color-dark);

}

.backgroundSection {
  background-color: var(--color-primary);
}

.reviewSection {
  display: flex;
  justify-content: center;
  margin: 40px;
}