@import "../../styles/vars.css";
@import "../../styles/globals.css";

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details {
    background-color: var(--color-primary);
    padding: 10px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}