@import "../../styles/vars.css";
@import "../../styles/globals.css";

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: -2% -20%;
}
