@import "../../styles/vars.css";
@import "../../styles/globals.css";
@import "../02_Hero/Hero.module.css";
@import "../00_Navbar/Navbar.module.css";

.navbarTitle{
    color: var(--color-text-light);
}
.navbarTitle:hover {
    color: none;
}

.title{
    color: var(--color-text-dark);
    align-content: center;
    font-size: var(--font-size-text);
    background-color: var(--color-primary);
    padding: 5px;
}
.subtitle{
    font-size: var(--font-size-text);
    font-weight: 100;
}
.description{
    font-size: var(--font-size-text);
}

.selectorSection{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.selector{
    display: flex;
    align-items: center;
}
.selectorBtn{
    margin: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.selectorBtn:hover{
    background-color: rgb(206, 206, 206);
}
.bookingBtn{
    display: block;
    margin:  20px auto;
}
.details{
  background-color: var(--color-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  border-radius: 5px;
}
.detailsTop{
    display: flex;
    gap: 20px;
}
.detailsBottom{
    background-color: var(--color-primary);
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}
