@import "../../styles/vars.css";
@import "../../styles/globals.css";

.cardList{
  background-color: var(--color-bg);
}
.card {
  width: 150px;
  height: 230px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.cardImage{
  height: 100%;
  width: 100%;
  margin: 0;
}

.smallBtn {
    background-color: var(--color-dark);
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.smallBtn:hover{
    transform: none;
}
