@import "../../styles/vars.css";
@import "../../styles/globals.css";

.footer{
    background-color: var(--color-dark);
}
.content{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    color: var(--color-text-light);
    font-size: var(--font-size-text);
}
