@import "../../styles/vars.css";
@import "../../styles/globals.css";


.card {
  width: 150px;
  height: 230px;
}


.cardDetailsBottom {
    justify-content: right;
}

.card:hover {
    transform: none;
}
